<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Java Spring Learning</title>
	</head>
	<body>
	
		<h1>Authors</h1>
		
			<table>
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
				<tr th:each="author : ${authors}">
					<td th:text="${author.id}"></td>
					<td th:text="${author.firstName}"></td>
					<td th:text="${author.lastName}"></td>
				</tr>
			</table>
	</body>
</html>